@charset "utf-8";
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-size:100%;
	max-width:1600px;
	width:100%;
	margin-top:auto;
	background-image:url(../imagens/7.png);
	background-repeat:no-repeat;
	background-size:cover;
        background-attachment:fixed;
}


header{
	/*background-color:black;*/
	color:black;
	width:100%;
	/*height:200px;*/
	overflow:hidden;
}

h1{
	width:1300px;
	height:180px;
	position:relative;
	background-image:url(../imagens/LOGO_PRINCIPAL.png);
	background-position:center;
	text-indent:-10000px;
	background-repeat:no-repeat;
}

#destaque{
	background-color: rgba(250, 250, 250, 0.7);
	width:90%;
	margin-left:5%;
	margin-right:5%;
	border-radius:5px;
	text-align:left;
	padding:1%;
	font-size:1.4375em;
}

.centro{
	height:500px;
	width:500px;
	margin:auto;
	text-align:center;
	display:block;
	margin-top:1em;
}

h2{
	text-align:center;
	color:#000;
}

h4{
	text-align:center;
	font-weight:100;
	line-height:2em;
}



.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5625em;
    color: #818181;
    display: block;
	font-family: 'Roboto', sans-serif;
    transition: 0.3s;
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}